<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Installing</title>
    <link rel="stylesheet" href="assets/css/foundation.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/install/app.css">
</head>
<body>
<div class="wrap">
    {{ block('content') }}
</div>
</body>
</html>