{% extends "install/layout.twig" %}

{% block content %}
    <h1>Crud Manager</h1>
    <h2 class="subheader">Bienvenue sur la configuration</h2>
    <hr>
    <p>Crud Manager est une interface, permettant d'administrer sa base mySql</p>
    <p>Vous vous trouvez actuellement sur la page d'installation</p>
    <p>Ainsi vous pourez configurer l'accès à votre base</p>
    <a href="install.php?p=2" class="button">Suivant</a>
{% endblock %}